.card img{
    -webkit-transform: scale(1);
	transform: scale(1);
    filter: brightness(75%);
    transition: .3s ease-in-out;
}
.card img:hover{
    filter: brightness(100%);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    position: absolute;
}
.popout{
    position: absolute !important;
}
.nav-link{
    color: rgb(255, 255, 255, .55);
}
.nav-link:hover{
    color: rgb(255, 255, 255, .75);
}